<table class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of users" class="viewport">
            <tr>
                <td>{{user._id}}</td>
                <td>{{user.username}}</td>
                <td> <button type="button" class="btn btn-outline-danger" (click)="delete(user._id)">Delete</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>